<div class="row">
<div class="col-md-8">
<canvas id="c" width="400" height="400">test</canvas> 
<button type="button" onclick="downloadFabric()">Download the image</button>
</div>
<div class="col-md-4">
<img src="assets/senthil.jpg" class="image_gallery"">
<img src="assets/senthil1.jpg" class="image_gallery"">
<img src="assets/k2.jpg" class="image_gallery"")>
<img src="assets/k1.jpg" "class="image_gallery"">
<img src="assets/cat.jpg" "class="image_gallery"">
</div>
